{% extends 'layouts/main.twig' %}

{% block content %}

	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner"></div>
				</div>

				<div class="inner cover">
					<h1 class="cover-heading">{{ statusCode }}</h1>
					<p class="lead">{{ statusMessage }}</p>
					<p class="lead">
						The above error occurred while the Web server was processing your request. 
					</p>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>Internet Positif Domain Generator, by <a href="https://github.com/bahirul">@bahirul</a>.</p>
					</div>
				</div>

			</div>

		</div>

	</div>

{% endblock %}