{% extends 'layouts/main.twig' %}

{% block content %}

	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner"></div>
				</div>

				<div class="inner cover">
					<h1 class="cover-heading">IPOSITIF</h1>
					<p class="lead" style="margin-top:30px">
						Untuk internet yang sehat dan bersih, generator list untuk <a href="https://pi-hole.net">pi-hole</a> dan bind.
					</p>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>Internet Positif Domain Generator, by <a href="https://github.com/bahirul">@bahirul</a>.</p>
					</div>
				</div>

			</div>

		</div>

	</div>

{% endblock %}